.input-board {
  color: black;
  width: 700px;
  height: 300px;
  margin: auto;
  display: block;
}

.board {
  width: 700px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.key {
  min-width: 40px;
  height: 40px;
  background: #3a424e;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  transition-duration: 0.2s;
}

.key-up {
  text-transform: uppercase;
}

.long-key {
  min-width: 82px;
}

.Space {
  min-width: 320px;
}

.left-shift {
  min-width: 52px;
}

.active {
  background: royalblue;
  transform: scale(0.9);
}